body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    box-sizing: inherit;

}

nav {
    width: 100%;
    height: 50px;
    background: #ccc;
    position: fixed;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;

}

.container {
    margin: 0 auto;
}

h3 {
    font-size: 24px;
}

.mac-img {
    color: white;
    background-repeat: no-repeat;
    background-image: url(../../images/mac.jpg);
    background-size: 100% 100%;
    padding-left: 16px;

}


.company {
    text-align: center;
    height: auto
}

.w4-container {
    padding: 128px 16px;
    background: gainsboro;
    height: 400px;

}

.phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    height: auto;
}

.button {
    background: gray;
    width: 270px;
    height: 50px;
}

.button:hover {
    background: #f1f1f1;
}

.card {
    padding: 128px 16px;
}

.article5 {
    background: gray;
    text-align: center;
}

.img {
    padding-top: 100px;
    justify-content: center;
    align-content: center;
}

.your-work {
    text-align: center;
    padding: 128px 16px;
}

.article7 {
    padding: 128px 16px;
}

.article9 {
    padding: 128px 16px;
}

input {
    height: 50px;
    width: 100%;
}

.button1 {
    height: 50px;
    width: 10%;
    background: black;
    color: white;
}

.button1:hover {
    background: gray;
}


.button-design {
    background: black;
    width: 30%;
    height: 50px;
}

.button-design:hover {
    background: gray;
}

.avatar {


    border: 1px solid #ccc;

}

.infomation {
    padding: 20px;
}

section.avatar {
    padding: 0;
    width: 23%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.responsive {
    padding: 20px;
}

.article9 {
    margin: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pricing {
    max-width: 32.33%;
    border: 1px solid #ccc;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}
.img2 {
    padding: 15px;
}